
/** Layout System  **/

:root {
    --m0-gap:0;
    --m1-gap:4px;
    --m2-gap:8px;
    --m3-gap:12px;
    --m4-gap:16px;
    --m5-gap:24px;
    --m6-gap:32px;
    --m7-gap:48px;
    --m8-gap:64px;
    --m9-gap:96px;
    --ma-gap:128px;
    --mb-gap:192px;
    --mc-gap:256px;
    --md-gap:384px;
    --me-gap:512px;
    --mf-gap:640px;

    --prim-yellow-vivid-050: #FFFBEA;
    --prim-yellow-vivid-100: #FFF3C4;
    --prim-yellow-vivid-200: #FCE588;
    --prim-yellow-vivid-300: #FADB5F;
    --prim-yellow-vivid-400: #F7C948;
    --prim-yellow-vivid-500: #F0B429;
    --prim-yellow-vivid-600: #DE911D;
    --prim-yellow-vivid-700: #CB6E17;
    --prim-yellow-vivid-800: #B44D12;
    --prim-yellow-vivid-900: #8D2B0B;
    --prim-light-blue-vivid-050: #E3F8FF;
    --prim-light-blue-vivid-100: #B3ECFF;
    --prim-light-blue-vivid-200: #81DEFD;
    --prim-light-blue-vivid-300: #5ED0FA;
    --prim-light-blue-vivid-400: #40C3F7;
    --prim-light-blue-vivid-500: #2BB0ED;
    --prim-light-blue-vivid-600: #1992D4;
    --prim-light-blue-vivid-700: #127FBF;
    --prim-light-blue-vivid-800: #0B69A3;
    --prim-light-blue-vivid-900: #035388;
    --neut-grey-050: #F7F7F7;
    --neut-grey-100: #E1E1E1;
    --neut-grey-200: #CFCFCF;
    --neut-grey-300: #B1B1B1;
    --neut-grey-400: #9E9E9E;
    --neut-grey-500: #7E7E7E;
    --neut-grey-600: #626262;
    --neut-grey-700: #515151;
    --neut-grey-800: #3B3B3B;
    --neut-grey-900: #222222,;
    --support-red-vivid-050: #FFE3E3;
    --support-red-vivid-100: #FFBDBD;
    --support-red-vivid-200: #FF9B9B;
    --support-red-vivid-300: #F86A6A;
    --support-red-vivid-400: #EF4E4E;
    --support-red-vivid-500: #E12D39;
    --support-red-vivid-600: #CF1124;
    --support-red-vivid-700: #AB091E;
    --support-red-vivid-800: #8A041A;
    --support-red-vivid-900: #610316;
    --teal-050: #EFFCF6;
    --teal-100: #C6F7E2;
    --teal-200: #8EEDC7;
    --teal-300: #65D6AD;
    --teal-400: #3EBD93;
    --teal-500: #27AB83;
    --teal-600: #199473;
    --teal-700: #147D64;
    --teal-800: #0C6B58;
    --teal-900: #014D40;
}


body
{
    color: var(--neut-grey-900);
    background-color: var(--neut-grey-100);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

button:focus, object:focus, embed:focus {
    outline-style:none;
}
button, object, embed {
    outline: 0;
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}


a:hover, a:active, a:focus, a:link, a:visited {
    outline: 0;
    outline-style: none;
}

a:active {
    background:var(--prim-light-blue-vivid-400);
    box-shadow: 0 0 0 3px var(--prim-light-blue-vivid-600);
}
button:active, object:active, embed:active {
    box-shadow: 0 0 0 3px var(--prim-light-blue-vivid-600);
}
a:focus {
    box-shadow: 0 0 0 3px var(--prim-light-blue-vivid-400);
    border-radius:4px;
}
button:focus, object:focus, embed:focus {
    box-shadow: 0 0 0 3px var(--prim-light-blue-vivid-400);
}

/** Layout **/
#app {
    --header-background: var(--prim-yellow-vivid-400);
    --header-background-border: var(--prim-yellow-vivid-500);
    --header-foreground: var(--neut-grey-900);
    display: grid;
    grid-template-areas: "header header   header header"
                         "gapl   body     body   gapr"
                         "footer footer   footer footer";
    grid-template-columns: minmax(0, 1fr) minmax(var(--mc-gap), 4fr) minmax(var(--mc-gap), 4fr) minmax(0, 1fr);
    align-items: stretch;
    justify-items: stretch;
	grid-template-rows: var(--m8-gap)
						1fr
						var(--m6-gap);
	min-height: 100vh;
}


#app > footer {
    grid-area: footer;
    background-color: var(--header-background);
    color: var(--header-foreground);
    border-top: 1px solid var(--header-background-border);
}

#app > section {
    grid-area: body;
}

#app > header {
    grid-area: header;
    background-color: var(--header-background);
    color: var(--header-foreground);
    border-bottom: 1px solid var(--header-background-border);
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding: 0 var(--m5-gap) 0 var(--m5-gap);
    flex-direction:row;
}

#app > header > h1 {
    font-size: var(--m5-gap);
}

#app > header > h1 > i {
    margin: var(--m3-gap);
}

#app > header > nav {
}

#app > header > nav > a {
    margin-left:var(--m5-gap);
    padding:var(--m2-gap);
    background-color: var(--header-background);
    color: var(--header-foreground);
}
#app > header > nav > a:hover {
    color: var(--neut-grey-800);
}

#app > header > nav i {
    margin: var(--m1-gap) var(--m2-gap)
}

#app > header a {
    text-decoration: none;
}

#app > header > aside {
    grid-area: aside;
    display: flex;
    justify-content: flex-end;
    padding:0 var(--m5-gap) 0 0 ;
    align-items: center;
}



.centered-inside {
    display: flex;
    justify-content: center;
    align-items: center;
}

.devices {
    padding: var(--m3-gap);
    display: grid;
    grid-auto-flow: dense;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(var(--ma-gap), auto);
    grid-gap: var(--m3-gap);
}

.devices > .device {
    border: 1px solid gray;
    padding:  var(--m3-gap);
    border-radius: 4px;
    box-shadow: 1px 1px 4px rgb(230,230,230);
    display: grid;
    grid-template-areas: 'head' 'features' 'action';
    grid-template-rows: auto 1fr var(--m5-gap);
}

.device > dl {
    grid-area: features;
    align-content: center;
}
.device > button {
    grid-area: action;
    border: 1px solid rgb(20,20,20);
    cursor: pointer;
    background: transparent;
    border-radius: 4px;
}
.device > button:hover {
    border: 1px solid black;
    background: rgba(0,0,0,0.05);
}
.device > header {
    grid-area: head;
}

.device > header > h1 {
    font-size:110%;
    margin: 0 0  var(--m3-gap) 0;
}

.device > header > p {
    font-size:90%
}

.device > dl {
    font-size:80%;
    margin:  var(--m3-gap);
}

.device dd small {
    opacity: 0.7;
    font-size: 9px;
}


@media screen and (max-width: 600px) {
    #app {
		grid-template-areas: "header"
		                     "nav"
		                     "aside"
		                     "body"
		                     "footer";
		grid-template-columns: 100%;
		grid-template-rows: var(--ma-gap)
						    var(--m7-gap)
							var(--m7-gap)
							1fr
							var(--m6-gap);
	}
}

dl {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 0 1em;
}

dl > dt + dd {
    margin:var(--m2-gap) 0 0 0
}

dl > dd + dt {
}

dt {
  grid-column: 1;
  font-weight: bold;
  text-align: right;
  margin:var(--m2-gap) 0 0 0;
}

dd {
   grid-column: 2;
 }


