main {
  display: grid;
  grid-template-areas: "aside article" "aside article";
  grid-template-columns: 1fr 2fr;
  min-height: 100vh;
}

aside {
  grid-area: aside;
  background-color: var(--prim-1);
  display: flex;
  flex-direction: column;
  padding:22px;
}

aside > sl-button {
  margin-bottom: 11px;
}

article {
  padding: 10px;
  grid-area: article;
}

.device-card {
  width: 100%;
  margin: 10px 0;
}

.device-card small {
  color: var(--sl-color-gray-60);
}

.device-card [slot="footer"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
